/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Biloxi Script';
  src: url('fonts/Biloxi\ Script\ Regular/biloxi_script-webfont.woff2') format('woff2'),
    url('fonts/Biloxi\ Script\ Regular/biloxi_script-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main Rules */

* {
  font-family: "Lora";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  pointer-events: none;
  user-select: none;
}

p {
  font-family: "Source Sans Pro";
}

.row {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  height: 75%;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  height: inherit;
  text-align: center;
  font-family: "Source Sans Pro";
}



/* Header Rules */

header {
  position: fixed;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #fbf1da;
  z-index: 999;
}

#bckg-nav {
  background-color: #2b2208;
  position: absolute;
  width: 100%;
  height: inherit;
  z-index: -1;
  opacity: 1;
}

.btn-nav {
  background: none;
  outline: none;

  width: calc(100%/5);
  height: 100%;

  font-family: "Lora";
  font-style: italic;
  font-weight: 600;
  font-size: 2em;
  color: var(--header-text);

  border: none;
}

.btn-nav:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
}

#logo-btn:hover {
  background-color: transparent;
}

svg#logo {
  height: 100%;
}

/* Footer Rules */

.section,
footer {
  background-color: white;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

footer {
  background-color: #19160f;
  color: white;
  text-align: center;
  height: 600px;
  font-size: medium;
}

.footer-h {
  font-size: 1.1em;
  font-weight: bold;
}

/**> index.html <**/
/* Main Section */

#main {
  text-align: center;
  background-color: black;
}

#main-container {
  position: absolute;
  clip: rect(0, auto, auto, 0);
  width: 100%;
  height: 100%;
}

#main-img {
  display: block;
  z-index: 0;
  position: fixed;
  width: 100%;
  filter: brightness(0.5);
}

#main-logo {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% + -1em));

  color: white;
  position: relative;
  font-family: "Biloxi Script";
  font-size: 600%;
  user-select: none;
  z-index: 3;
}

#main-fl,
#main-fr {
  position: absolute;
  top: calc(50% + -0.5em);
  transform: translateX(-12.5px) translateY(50%);
  z-index: 1;
  filter: invert();
  width: 20em;
}

#main-fl {
  transform: scaleX(-1) translateX(calc(100% + -12.5px)) translateY(50%);
}

#main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% + -3.5em));

  user-select: none;
  font-family: "Lora";
  font-style: italic;
  font-weight: 300;
  font-size: 22px;

  color: white;
}



#about>div,
#gallery>div,
footer>div {
  position: relative;
  padding: 1em;
  top: 50px;
}

/* About Section */

#about {
  position: relative;
}

#about-row {
  height: 100%;
}

#about-title {
  font-size: 37.5px;
}

#about-content {
  background-color: #5cad7780;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 75vh;
  position: relative;
  top: 6.125vh;
}

#about-l {
  background-color: white;
}

#about-video {
  position: relative;
  top: 55%;
  transform: translateY(calc(-50% + -25px));
  width: calc(80%);
  height: 60%;
}

#about-text {
  position: relative;
  left: 12.5%;
  width: 75%;
  font-size: 112.5%;
}

/* Gallery Section */

#gallery {
  text-align: center;
}

#gallery-title {
  position: relative;
  top: 100px;
  font-size: 37.5px;
  margin: 0;
}

#gallery-hash {
  position: relative;
  top: 100px;
  font-style: italic;
}

#gallery>div {
  background-color: #8d99ae;
  position: relative;
  top: calc(20%);
  height: 60%;
  text-align: center;
}

#gallery-container::-webkit-scrollbar {
  display: none;
}

#gallery-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



/**> menu.html <**/
#menu {
  padding-top: 100px;
  height: auto;

}

#title {
  text-align: center;
  background-color: #5ac47d;
  color: white;

  font-size: 50px;
}

#menu-list {
  position: relative;
  width: 75%;
  left: calc(12.5%);
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu-header {
  background-color: #f6f6f6;
  overflow: hidden;
  height: 50px;
  border-bottom: solid 1px darkgray;
  padding: 12.5px;
  padding-left: 25px;
  padding-right: 25px;

  cursor: pointer;

}

.menu-header-title {
  font-family: "Source Sans Pro";
  position: relative;
  bottom: 0.5em;
}

.menu-header-icon {
  position: relative;
  left: calc(100% + -50px);
  bottom: 75px;
}




.menu-array {
  overflow: hidden;
}

.menu-item {
  padding: 25px;
  padding-top: 0;
  border-bottom: solid 1px lightgrey;
  font-size: 1.25em;
}

.isOrdered {
  border-left: solid 5px rgba(221, 136, 163);

}

.menu-item-name {
  font-weight: bold;
}

.menu-item-price {
  font-style: italic;
  font-family: "Source Sans Pro";
}

.menu-item-control {
  font-family: "Source Sans Pro";
  position: relative;
  left: calc(100% + -150px);
  top: 2.5em;
}

.menu-item-count {
  width: 25px;
  height: 25px;
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 1em;
  border-radius: 5px;
}

.menu-item-button {
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 100%;
  font-weight: bold;
  font-family: "Source Sans Pro";
  text-align: center;
  background-color: #8d99ae;
  border: solid 1px rgb(80, 80, 80);
}
.menu-item-button:hover {
  background-color: #b3c2db;
}
.menu-item-button:active {
  background-color: #788294;
}
.menu-item-button:disabled {
  background-color: lightgray;
}

input[type=number]::-webkit-inner-spin-button {
  appearance: none;
}

#order-shortcut {
  position: fixed;
  top: 50%;
  left: calc(100% + -75px);
  border: solid 1px darkgrey;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 75px;
  height: 75px;
}

#order-shortcut:hover {
  cursor: pointer;
}

#order-shortcut > svg {
  position: relative;
  width: 80%;
  top: 5%;
  left: 5%;
}

#checkout {
  position: relative;
  left: calc(50% + -10%);
  width: 20%;
  height: 75px;
  margin-bottom: 50px;
  border-radius: 100px;
  border: none;
  background-color: #8d99ae;
}

#checkout:hover {
  cursor: pointer;
  background-color: #b0bed6;
}

#checkout>h1 {
  color: white;
  font-family: "Source Sans Pro";
  font-size: 3em;
  position: relative;
  bottom: calc(50% + -0.5em);
}

#total {
  text-align: center;
}

/**> order.html <**/
#order-list {
  border: solid 2px black;
  margin-top: 150px;
  position: relative;
  width: 40%;
  min-height: 65%;
  border-radius: 10%;
  padding-left: 50px;
  padding-right: 50px;
  text-align:left;
  font-size: 15px;
  font-family: "Source Sans Pro";
}

#order-list > h1 {
  text-align: center;
}
#order-list > ul {
  font-size: 17px;
}
#list-container {
  width: 100%;
  height: 75%;
}
